@use '@styles' as *;

.JoinCard {
	.Container {
		@include container;

		display: flex;
		background-color: $grey_color;
		border-radius: 15px;
		overflow: hidden;

		.Row {
			width: 50%;

			&:first-child {
				padding: 15px;
				display: flex;
				flex-direction: column;

				.Title {
					margin-bottom: 15px;
				}
			}

			&:last-child {
				overflow: hidden;
				display: flex;
				align-items: flex-start;

				img {
					width: 100%;
				}
			}
		}
	}
}
