@use '@styles' as *;

.JoinCard {
	.Container {
		display: flex;
		background-color: $grey_color;
		border-radius: 15px;
		overflow: hidden;

		.Row {
			width: 50%;

			&.FirstRow {
				padding: 15px;
				display: flex;
				flex-direction: column;

				.Title {
					margin-bottom: 15px;
				}
			}

			&.SecondRow {
				overflow: hidden;
				display: flex;
				align-items: flex-start;

				img {
					width: 100%;
				}
			}
		}

		@media (max-width: 850px) {
			& {
				flex-direction: column-reverse;

				.Row {
					width: 100%;
				}
			}
		}
	}
}
