@use '@styles' as *;

.JoinCard {
	.Container {
		@include container;

		display: flex;
		background-color: $grey_color;
		border-radius: 15px;
		overflow: hidden;

		.Row {
			width: 50%;
			min-height: 400px;

			&:first-child {
				padding: 15px;
				display: flex;
				flex-direction: column;

				.Title {
					margin-bottom: 15px;
				}
			}

			&:last-child {
				overflow: hidden;
				flex: 1 1 auto;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
