@use '@styles' as *;

.RoleRow {
	padding: 25px 10px;
	border-bottom: 1px solid $black_color;
	transition: background 0.4s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		font-size: 24px;
		font-weight: 600;
	}

	.ButtonSection {
		display: flex;
		gap: 10px;

		button {
			border: none;
			outline: none;
			background-color: initial;
			cursor: pointer;

			font-size: 24px;
			color: $white_color;
			padding: 10px 15px;
			border-radius: 10px;
			transition: background 0.4s ease;

			&.EditButton {
				background-color: $button_color;

				&:hover {
					background-color: rgba($color: $button_color, $alpha: 0.6);
				}
			}

			&.DeleteButton {
				background-color: $red_color;

				&:hover {
					background-color: rgba($color: $red_color, $alpha: 0.6);
				}
			}
		}
	}

	&:last-child {
		border: none;
	}

	&:hover {
		background-color: rgba($color: $grey_color, $alpha: 0.2);
	}
}
