@use '@styles' as *;

.RoleRow {
	padding: 25px 10px;
	border-bottom: 1px solid $black_color;
	transition: background 0.4s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		font-size: 24px;
		font-weight: 600;
	}

	.ButtonSection {
		display: flex;
		gap: 10px;
	}

	&:last-child {
		border: none;
	}

	&:hover {
		background-color: rgba($color: $grey_color, $alpha: 0.2);
	}
}
