@use '@styles' as *;

.Block {
	padding: 15px 0px;
	min-height: 256px;
	display: flex;

	.Container {
		@include container;

		.Title {
			margin-bottom: 15px;
		}
	}

	&.grey {
		background-color: $grey_color;
	}
}
