.UserAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 10px;
	overflow: hidden;
	position: relative;

	img {
		width: 75px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
