@use '@styles' as *;

.UserRow {
	padding: 25px 10px;
	border-bottom: 1px solid $black_color;
	transition: background 0.4s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 25px;

	.ImageSection {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;

		img {
			width: 75px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	p {
		font-size: 24px;
		font-weight: 500;
	}

	.RolesSection {
		display: flex;
		gap: 5px;
	}

	&:hover {
		background-color: rgba($color: $grey_color, $alpha: 0.2);
	}

	&:last-child {
		border: none;
	}
}
