@use '@styles' as *;

header {
	padding: 25px 0px;

	.Container {
		@include container;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.LogoLink {
			text-decoration: none;
		}
	}
}
