@use '@styles' as *;

.ShopItem {
	background-color: $grey_color;
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-between;

	.ImageSection {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;

		.ItemImage {
			width: 100%;
		}

		.NoImage {
			width: 80%;
		}
	}

	.Info {
		justify-self: flex-end;

		.Title {
			margin-bottom: 15px;
		}

		.Content {
			flex: 1 1 auto;
			word-wrap: break-word;
		}

		.ButtonBody {
			display: flex;
			justify-content: center;
			margin-top: 15px;
		}

		.Actions {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
}
