@use '@styles' as *;

.ShopItem {
	background-color: $grey_color;
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;

	.ItemImage {
		margin-bottom: 15px;
	}

	.Title {
		margin-bottom: 15px;
	}

	.Content {
		flex: 1 1 auto;
		word-wrap: break-word;
	}

	.ButtonBody {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
}
