@use '@styles' as *;

.Button {
	outline: none;
	border: none;
	cursor: pointer;

	padding: 10px 20px;
	border-radius: 15px;
	background-color: $button_color;
	transition: all 0.4s ease;
	font-size: 20px;
	font-weight: 600;
	color: $white_color;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:hover {
		background-color: $button_hover_color;
	}

	&.Loading {
		background-color: $grey_color;
		cursor: not-allowed;
	}

	.Loader {
		width: 20px;
		height: 20px;
		border: 2px dashed $primary_color;
		border-radius: 50%;
		margin-right: 20px;
		animation: loader 2s infinite;

		@keyframes loader {
			from {
				transform: rotate(360deg);
			}
		}
	}
}
