@use '@styles' as *;

.Container {
	@include container;
	display: flex;
	flex-direction: column;

	.Title {
		margin-bottom: 25px;
	}

	.PostBody {
		display: flex;
		flex-direction: column-reverse;

		.Post {
			margin-bottom: 25px;
		}
	}

	.AddNewButton {
		align-self: flex-end;
		margin-bottom: 25px;
	}
}
