@use '@styles' as *;

.Container {
	@include container;

	.Title {
		margin-bottom: 25px;
	}

	.PostBody {
		display: flex;
		flex-direction: column-reverse;

		.Post {
			margin-bottom: 25px;
		}
	}
}
