@use '@styles' as *;

.Container {
	@include container;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;

	.Title {
		margin-bottom: 25px;
	}

	.AddNewButton {
		align-self: flex-end;
		margin-bottom: 25px;
	}

	.ShopList {
		display: grid;
		grid-template-columns: repeat(3, 33%);
		gap: 15px;

		@media (max-width: 1280px) {
			& {
				grid-template-columns: repeat(3, 32%);
			}
		}

		@media (max-width: 800px) {
			& {
				grid-template-columns: repeat(2, 49%);
			}
		}

		@media (max-width: 650px) {
			& {
				grid-template-columns: repeat(1, 100%);
			}
		}
	}
}
