@use '@styles' as *;

.Paragraph {
	font-size: 20px;
	font-weight: 400;
	line-height: 125%;

	&.Small {
		font-size: 14px;
	}

	&.primary {
		color: $primary_color;
	}

	&.black {
		color: $black_color;
	}

	&.white {
		color: $white_color;
	}
}
