@use '@styles' as *;

.Popup {
	border: 1px solid $black_color;
	border-radius: 25px;
	padding: 10px 40px 10px 20px;
	margin-bottom: 10px;
	background-color: $gray_color;
	display: flex;
	align-items: center;
	min-height: 75px;

	&:last-child {
		margin: 0px;
	}

	.Icon {
		margin-right: 20px;
	}

	.CloseButtonSection {
		position: absolute;
		top: 5px;
		right: 10px;
	}
}
