@use '@styles' as *;

.InputBlock {
	position: relative;
	border-bottom: 3px solid $white_color;
	width: 100%;

	.Label {
		font-size: 18px;
		color: $secondary_color;
	}

	.Input {
		border: none;
		outline: none;
		background-color: initial;

		padding: 5px 10px;
		font-size: 24px;
	}

	.Button {
		border: none;
		outline: none;
		background-color: initial;
		cursor: pointer;

		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		font-size: 24px;
	}
}
