@use '@styles' as *;

.InputBlock {
	position: relative;
	border-bottom: 3px solid $white_color;
	width: 100%;
	padding-top: 20px;

	.Input {
		border: none;
		outline: none;
		background-color: initial;

		padding: 5px 10px;
		font-size: 24px;

		&:placeholder-shown ~ .Label {
			font-size: 24px;
			cursor: text;
			top: 25px;
			left: 10px;
		}
	}

	.Label,
	.Input:focus ~ .Label {
		position: absolute;
		font-size: 16px;
		top: 0px;
		left: 0px;
		transition: all 0.3s ease;
	}

	.Button {
		border: none;
		outline: none;
		background-color: initial;
		cursor: pointer;

		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		font-size: 24px;
	}

	&.Error {
		.Label {
			color: $red_color;
		}
	}
}
