@use '@styles' as *;

.InputBlock {
	position: relative;
	border-bottom: 3px solid $white_color;
	width: 100%;
	padding-top: 20px;

	.Input {
		border: none;
		outline: none;
		background-color: initial;

		padding: 5px 10px;
		font-size: 24px;
		width: 100%;

		&.Password {
			padding: 5px 37px 5px 10px;
		}

		&:placeholder-shown {
			& ~ .Label {
				font-size: 18px;
				cursor: text;
				top: 50%;
				left: 0px;
			}

			& ~ .Button {
				display: none;
			}
		}

		&:focus {
			& ~ .Button {
				display: block;
			}
		}
	}

	.Label,
	.Input:focus ~ .Label {
		position: absolute;
		font-size: 16px;
		top: 0px;
		left: 0px;
		transition: all 0.3s ease;
	}

	.Button {
		border: none;
		outline: none;
		background-color: initial;
		cursor: pointer;

		position: absolute;
		top: 75%;
		right: 10px;
		transform: translateY(-75%);
		font-size: 20px;
	}

	&.Error {
		.Label {
			color: $red_color;
		}
	}
}
