@use '@styles' as *;

.Container {
	@include container;

	.Content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.ButtonBody {
			display: flex;
			justify-content: center;
			margin-top: 10px;
		}
	}
}
